#gameWheel {
    transition: .25s ease all;
    width: 200px;
    border-radius: 100%;
    position: relative;
}

#gameWheel:hover {
    transition: .5s ease all;
    width: 250px;
}

#smokeSpace{
    width:fit-content;
    height: fit-content;
}

/* Smoke effect styles */
.smoke {
    width: 50px;
    height: 50px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    position: absolute;
    animation: disperse 2s ease-out forwards;
    pointer-events: none;
}

@keyframes disperse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}
